.sym-provider {
  --sym-aio-msg-bubble-background: red;
  --sym-aio-avatar-background: red;
  --sym-aio-avatar-color: green;
}

.sym-provider.sym-dark {
  --sym-aio-msg-bubble-background: red;
  --sym-aio-avatar-background: red;
  --sym-aio-avatar-color: green;
}
