.sym-aio {
  &-msg {
    &-container {
      display: flex;
    }

    &-gutter {
      &-container {
        width: var(--sym-aio-msg-gutter-width);
      }

      &-placeholder {
        width: var(--sym-aio-msg-gutter-width);
      }
    }

    &-header {
      &-container {
        font-size: 0.7rem;

        margin: var(--sym-aio-avatar-margin)
          var(--sym-aio-msg-header-container-margin) 0
          var(--sym-aio-msg-header-container-margin);
      }
    }

    &-content {
      &-container {
        font-size: 0.9rem;
      }
    }

    &-bubble {
      background: var(--sym-aio-msg-bubble-background);

      margin-top: var(--sym-aio-msg-bubble-margin-top);
      margin-right: var(--sym-aio-msg-bubble-margin-right);
      margin-bottom: var(--sym-aio-msg-bubble-margin-bottom);
      margin-left: var(--sym-aio-msg-bubble-margin-left);
      padding-top: var(--sym-aio-msg-bubble-padding-top);
      padding-right: var(--sym-aio-msg-bubble-padding-right);
      padding-bottom: var(--sym-aio-msg-bubble-padding-bottom);
      padding-left: var(--sym-aio-msg-bubble-padding-left);
    }

    &-group {
      &-content {
        position: absolute;
      }

      &-overlay {
        &-container {
          position: absolute;
        }
      }
    }
  }

  &-avatar {
    width: var(--sym-aio-avatar-size);
    height: var(--sym-aio-avatar-size);
    margin: var(--sym-aio-avatar-margin) 0;

    background: var(--sym-aio-avatar-background);

    &-container {
      width: var(--sym-aio-avatar-container-width);

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-placeholder {
      width: var(--sym-aio-avatar-container-width);
    }
  }
}
