.sym-aio {
  &-msg {
    &-container {
      display: flex;
    }

    &-header {
      &-container {
        font-size: 0.7rem;

        margin: var(--sym-aio-avatar-margin)
          var(--sym-aio-msg-header-container-margin) 0
          var(--sym-aio-msg-header-container-margin);
      }
    }

    &-content {
      &-container {
        font-size: 0.9rem;
      }
    }

    &-bubble {
      background: var(--sym-aio-msg-bubble-background);

      margin: var(--sym-aio-msg-bubble-margin);
      padding: var(--sym-aio-msg-bubble-padding);
    }
  }

  &-avatar {
    width: var(--sym-aio-avatar-size);
    height: var(--sym-aio-avatar-size);
    margin: var(--sym-aio-avatar-margin) 0;

    background: var(--sym-aio-avatar-background);
    color: var(--sym-aio-avatar-color);

    &-container {
      width: var(--sym-aio-avatar-container-width);

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
