.sym-aio {
  &-msg {
    &-container {
      display: flex;
    }

    &-bubble {
      border-start-start-radius: var(
        --sym-aio-msg-bubble-border-start-start-radius
      );
      border-start-end-radius: var(
        --sym-aio-msg-bubble-border-start-end-radius
      );
      border-end-start-radius: var(
        --sym-aio-msg-bubble-border-end-start-radius
      );
      border-end-end-radius: var(--sym-aio-msg-bubble-border-end-end-radius);

      background: var(--sym-aio-bubble-background);
    }
  }

  &-avatar {
    width: var(--sym-aio-avatar-size);
    height: var(--sym-aio-avatar-size);
    margin: var(--sym-aio-avatar-margin) 0;

    background: var(--sym-aio-avatar-background);
    color: var(--sym-aio-avatar-color);

    &-container {
      width: var(--sym-aio-avatar-container-width);

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
