.sym-provider {
  --sym-aio-msg-gutter-width: 0px;

  --sym-aio-avatar-container-width: 48px;
  --sym-aio-avatar-size: 36px;

  --sym-aio-avatar-margin-v: calc(
    (var(--sym-aio-avatar-container-width) - var(--sym-aio-avatar-size)) / 2
  );

  // Avatar margin-v will be sticky,
  // so container margin (= header font-size) first, then avatar margin-v.
  --sym-aio-avatar-container-margin-top: var(--sym-aio-msg-header-font-size);

  --sym-aio-msg-bubble-margin-left: 0px;
  --sym-aio-msg-bubble-margin-bottom: 2px;
  --sym-aio-msg-bubble-padding-top: 8px;
  --sym-aio-msg-bubble-padding-right: 8px;
  --sym-aio-msg-bubble-padding-bottom: 8px;
  --sym-aio-msg-bubble-padding-left: 8px;

  --sym-aio-msg-header-font-size: 0.7rem;
  --sym-aio-msg-content-font-size: 0.9rem;
  --sym-aio-msg-footer-font-size: 0.7rem;

  --sym-aio-msg-header-container-margin-top: var(--sym-aio-avatar-margin-v);
  --sym-aio-msg-header-container-margin-h: calc(
    var(--sym-aio-msg-bubble-margin-left) +
      var(--sym-aio-msg-bubble-padding-left)
  );

  --sym-aio-msg-content-max-width: min(90vw, 600px);

  // Align with avatar at bottom.
  --sym-aio-msg-group-content-padding-bottom: var(--sym-aio-avatar-margin-v);
}
